<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.travel.mapper.ScenicSpotMapper">
  <resultMap id="BaseResultMap" type="com.example.travel.pojo.ScenicSpot">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="scenic_spot_name" jdbcType="VARCHAR" property="scenicSpotName" />
    <result column="scenic_spot_address" jdbcType="VARCHAR" property="scenicSpotAddress" />
    <result column="scenic_spot_describe" jdbcType="VARCHAR" property="scenicSpotDescribe" />
    <result column="scenic_spot_synopsis" jdbcType="VARCHAR" property="scenicSpotSynopsis" />
    <result column="scenic_spot_types" jdbcType="VARCHAR" property="scenicSpotTypes" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="imgs" jdbcType="VARCHAR" property="imgs" />
    <result column="s_longitude" jdbcType="DECIMAL" property="sLongitude" />
    <result column="s_dimension" jdbcType="DECIMAL" property="sDimension" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>